.message-field {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.bot-message {
  align-self: flex-start;
}

.my-message {
  align-self: flex-end;
}
.enter-message{
  margin: auto;
  width: 70%;
}